<header class="header">
    <div class="title-wrapper">
        <h1 class="title">Budget</h1>
        <p>Today is {{ currentDate }}</p>
    </div>
    <span class="date-selection">
        <mat-icon fontIcon="calendar_month" />
        <p>Some date</p>
    </span>
</header>
<section class="budget-dashboard-wrapper">
    <div class="budgets">
        <BudgetCategoryCard
            *ngFor="let budgetCategory of budgetCategories"
            [budgetCategoryItems]="budgetCategory.budgetItems"
            [name]="budgetCategory.name"
        />
    </div>
    <Card class="details-card" width="40%" height="100%"></Card>
</section>
