<header class="header">
    <div class="title-wrapper">
        <h1 class="title">Budget</h1>
        <p>Today is {{ currentDate }}</p>
    </div>
    <span class="date-selection" [matMenuTriggerFor]="menu">
        <mat-icon fontIcon="calendar_month" />
        <p>{{ selectedMonth }}</p>
        <mat-icon fontIcon="arrow_drop_down"></mat-icon>
        <mat-menu #menu="matMenu" xPosition="before">
            @for (month of months; track $index) {
            <button (click)="selectedMonth = month" mat-menu-item>
                <span>{{ month }}</span>
            </button>
            }
        </mat-menu>
    </span>
</header>
<section class="budget-dashboard-wrapper">
    <div class="budgets" cdkDropList (cdkDropListDropped)="handleDrop($event)">
        <BudgetCategoryCard
            class="budget-card"
            *ngFor="let budgetCategory of budgetCategories"
            [budgetCategoryItems]="budgetCategory.budgetItems"
            [name]="budgetCategory.name"
            cdkDrag
            cdkDragLockAxis="y"
            cdkDragBoundary=".budgets"
        >
            <mat-icon
                class="drag-handle"
                fontIcon="drag_indicator"
                cdkDragHandle
            />
        </BudgetCategoryCard>
    </div>
    <Card class="details-card" width="40%" height="100%"></Card>
</section>
