:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    box-shadow: 0 0.1rem 1rem 0 rgb(205, 205, 205);
    z-index: 1;

    .title-wrapper {
        display: flex;
        flex-direction: column;

        .title {
            font-weight: bold;
            font-size: 1.3rem;
        }

        p {
            font-weight: 400;
            opacity: 0.5;
            margin: 0;
        }

        h1 {
            margin: 0;
        }
    }

    .date-selection {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;

        p {
            font-weight: 400;
            margin: 0;
            width: 3.7rem;
            text-align: center;
            color: rgb(101, 101, 101);
        }

        .cal-icon {
            color: rgb(48, 48, 48);
        }

        .arrow-icon {
            color: rgb(113, 113, 113);
            transition: rotate 0.2s;
        }
    }
}

.budget-dashboard-wrapper {
    display: flex;
    flex: 1;
    width: 100%;
    padding: 2rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
    min-height: 0rem;
    gap: 1.4rem;

    .budgets {
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 100%;
        gap: 1rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-right: 0.6rem;
        scrollbar-width: thin;
        overflow-y: scroll;
    }

    .details-card {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

.drag-handle {
    color: rgb(159, 159, 159);
    cursor: grab;
    position: absolute;
    top: 0.4rem;
    right: 0.5rem;
    rotate: 90deg;
    z-index: 1;
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.budgets.cdk-drop-list-dragging .budget-card:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.mat-calendar-menu-item {
    border-bottom: 1px solid rgb(231, 231, 231);
}
