:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    box-shadow: 0 0.1rem 1rem 0 rgb(205, 205, 205);
    z-index: 1;

    .title-wrapper {
        display: flex;
        flex-direction: column;

        .title {
            font-weight: bold;
            font-size: 1.3rem;
        }

        p {
            font-weight: 400;
            opacity: 0.5;
            margin: 0;
        }

        h1 {
            margin: 0;
        }
    }

    .date-selection {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        p {
            font-weight: 400;
            margin: 0;
        }
    }
}

.budget-dashboard-wrapper {
    display: flex;
    flex: 1;
    width: 100%;
    padding: 2rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
    min-height: 0rem;
    gap: 1.5rem;

    .budgets {
        display: flex;
        flex-direction: column;
        width: 60%;
        height: 100%;
        gap: 1rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-right: 0.5rem;
        scrollbar-width: thin;
        overflow-y: scroll;
    }

    .details-card {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}
