<BudgetCalculator #budgetCalculator />
<header class="header">
    <div class="title-wrapper">
        <span>
            <h1 class="title">Budget</h1>
            <mat-icon
                (click)="refreshBudget()"
                class="refresh-icon {{ isRefreshing ? 'animate-refresh' : '' }}"
                fontIcon="replay"
            />
        </span>
        <p>Today is {{ currentDateString }}</p>
    </div>
    <span class="date-selection-container">
        <span
            class="date-selector"
            (click)="openCalendarSelector()"
        >
            <mat-icon
                class="cal-icon"
                fontIcon="calendar_month"
            />
            <p>{{ selectedMonth() }}</p>
            <mat-icon
                class="arrow-icon"
                [style.rotate]="
                    isCalMenuOpened && !isCalendarClosing ? '180deg' : undefined
                "
                fontIcon="arrow_drop_down"
            ></mat-icon>
        </span>
        @if (isCalMenuOpened) {
            <Card
                (document:click)="closeCalendarSelector($event)"
                class="calendar-selector {{
                    isCalendarClosing && 'close-calendar'
                }}"
                padding="0rem"
                height="23rem"
                width="20rem"
            >
                <mat-calendar
                    #calendarSelector
                    [selected]="selectedDate()"
                    (monthSelected)="getNewBudget($event)"
                    startView="year"
                ></mat-calendar>
            </Card>
            <main class="calendar-selector-overlay"></main>
        }
    </span>
    <AmountTypeSelector />
    <IncomeDrawer />
    @if (!budgetService.isLoading() && isScrolling) {
        <div
            class="pull-refresh-icon-container"
            style.transform="translateY({{ -(scrollPosition / 30) }}rem)"
        >
            <mat-icon
                [style.rotate.deg]="scrollPosition * 3"
                [style.opacity]="-(scrollPosition / 70)"
                class="pull-refresh-icon"
                >replay</mat-icon
            >
        </div>
    }
</header>
<section
    class="budget-dashboard-wrapper"
    [class.expand-dashboard-wrapper]="
        budgetCalculator.calculatedBudgetAmount !== 0
    "
    (scroll)="startRefresh($event)"
>
    <div
        #budgets
        class="budgets"
        (touchstart)="setIsScrolling()"
        (scroll)="startRefresh($event)"
        cdkDropList
        (cdkDropListDropped)="handleDrop($event)"
    >
        @if (budgetService.isLoading()) {
            <main class="budget-loader-container">
                <mat-spinner
                    diameter="70"
                    color="primary"
                />
            </main>
        } @else if (!budget()?.budgetCategories?.length) {
            <main class="no-budget-notice">
                <h1>
                    {{
                        budgetService.budgetError()
                            ? "Unable to Load Budget"
                            : "No Budget Available For This Month"
                    }}
                </h1>
                <div class="add-budget-category-container">
                    @if (budgetService.budgetError()) {
                        <mat-icon
                            fontIcon="warning"
                            class="error-icon"
                        />
                    } @else {
                        <p>Get Started</p>
                        <mat-icon
                            (click)="createNewBudgetCategoryPlaceholder()"
                            class="add-button"
                            fontIcon="add_circle"
                        />
                    }
                </div>
            </main>
        } @else {
            <BudgetCategoryCard
                class="budget-card"
                *ngFor="let budgetCategory of budget()?.budgetCategories"
                [budgetCategoryId]="budgetCategory.budgetCategoryId"
                [lineItems]="budgetCategory.lineItems"
                [name]="budgetCategory.name"
                [order]="budgetCategory.lineItemOrder"
                (isAddingBudgetCategory)="enableAddingBudgetCategory($event)"
                (hideCategoryButton)="isAddCategoryButtonHidden = true"
                cdkDrag
                (cdkDragStarted)="isReordering = true"
                cdkDragLockAxis="y"
                [cdkDragDisabled]="isAddingBudgetCategory"
                cdkDragBoundary=".budgets"
            >
                <mat-icon
                    class="drag-handle"
                    fontIcon="drag_indicator"
                    cdkDragHandle
                    (touchstart)="
                        mobileModalService.isReorderingCategories.set(true)
                    "
                    (touchend)="
                        !isReordering &&
                            mobileModalService.isReorderingCategories.set(false)
                    "
                />
            </BudgetCategoryCard>
            @if (!isAddingBudgetCategory) {
                <span
                    class="add-budget-category-container bottom"
                    [class.hide-add-button]="isAddCategoryButtonHidden"
                >
                    <p>Add Category</p>
                    <mat-icon
                        (click)="createNewBudgetCategoryPlaceholder(budgets)"
                        class="add-button"
                        fontIcon="add_circle"
                    />
                </span>
            }
        }
    </div>
    <BudgetTransactionsCard />
</section>
