@import "bb-core";

:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20rem;
    width: 25rem;
    padding: 2rem;
    gap: 3rem;

    h1 {
        text-align: center;
        color: $bb-primary-title-color;
        margin: 0;
        font-style: italic;
        padding: 5px;
    }
}

.logo {
    scale: 1.5;
    translate: 0.7rem;
}

@media (max-width: 1145px) {
    :host {
        width: 100%;
    }
}
