<mat-card>
    <mat-card-header>
        <mat-card-title>
            Sonic
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        Some Budget Category
    </mat-card-content>
    <div style="display: flex; gap: 1rem; justify-content: space-between; align-items: center;">
        <h3 style="margin: 0; margin: 0 1rem;">
            Aug 10
        </h3>
        <mat-card-actions [align]="'end'">
            <mat-chip>
                $20
            </mat-chip>
            <button mat-icon-button>
                <mat-icon fontIcon="delete" style="color: #e55b66" />
            </button>
        </mat-card-actions>
    </div>
</mat-card>
