<mat-card>
    <mat-card-header>
        <mat-card-title>
            {{ merchant() }}
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        {{ budgetCategoryName() }}
    </mat-card-content>
    <div class="actions-wrapper">
        <h3 class="date">
            {{ date() | date }}
        </h3>
        <div class="actions-buttons-container">
            <mat-chip [disableRipple]="true">
                ${{ amount() }}
            </mat-chip>
            <button mat-icon-button>
                <mat-icon fontIcon="delete" style="color: #e55b66" />
            </button>
        </div>
    </div>
</mat-card>
