@use "bb-core";

.mat-mdc-card {
    box-shadow: none;
    border-radius: 1rem;
}

.title-text {
    color: bb-core.$bb-primary-green-text;
    margin: 0;
}

.merchant-text {
    color: bb-core.$bb-primary-title-color;
    margin: 0;
}

.actions-wrapper {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;

    .date-wrapper {
        display: flex;
        gap: 0.5rem;
    }
}

.actions-buttons-container {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-bottom: 0.75rem;
    margin-right: 0.75rem;
}

.date {
    margin: 0 1rem;
    color: bb-core.$bb-secondary-title-color;
}

.mat-mdc-card-actions {
    gap: 1rem;
}

.error {
    color: bb-core.$bb-error-main;
}

.recover {
    color: bb-core.$bb-info-light;
}

.edit {
    color: bb-core.$bb-secondary-title-color;
}

mat-card-header {
    position: relative;

    .edit-button {
        position: absolute;
        top: 0.2rem;
        right: 0.75rem;
    }
}

::ng-deep {
    .cdk-overlay-pane {
        .mat-mdc-card {
            padding: 0.5rem;
            margin-top: 0.25rem;
            min-width: 250px;
            min-height: 50px;
            border-radius: 0.25rem;
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.12);
        }
    }
}
