<mat-card>
    <mat-card-header>
        <mat-card-title
            [style.display]="'flex'"
            [style.margin-bottom]="'.25rem'"
        >
            <p class="merchant-text">
                {{ transaction().title }}
            </p>
            @if (transaction().merchant) {
                <mat-divider
                    [vertical]="true"
                    [style.margin]="'.2rem .5rem'"
                />
                <p class="title-text">
                    {{ transaction().merchant }}
                </p>
            }
        </mat-card-title>
        <button
            mat-icon-button
            class="edit-button"
            (click)="openEditModal()"
        >
            <mat-icon
                fontIcon="edit"
                class="edit"
            />
        </button>
    </mat-card-header>
    <mat-card-content>
        {{ budgetCategoryName() }}
    </mat-card-content>
    <div class="actions-wrapper">
        <div class="date-wrapper">
            <h3
                class="date"
                [style.margin-top]="'.25rem'"
            >
                {{ transaction().date | date }}
            </h3>
            @if (transaction().notes) {
                <button
                    mat-button
                    type="button"
                    cdkOverlayOrigin
                    #trigger="cdkOverlayOrigin"
                    (click)="toggleNotes()"
                >
                    View Notes
                </button>
                <ng-template
                    cdkConnectedOverlay
                    [cdkConnectedOverlayOrigin]="trigger"
                    [cdkConnectedOverlayOpen]="areNotesOpen()"
                >
                    <mat-card class="popover-card">
                        <mat-card-title> Notes </mat-card-title>
                        <mat-divider />
                        <p [style.margin-top]="'.5rem'">
                            {{ transaction().notes }}
                        </p>
                    </mat-card>
                </ng-template>
            }
        </div>
        <div class="actions-buttons-container">
            <mat-chip [disableRipple]="true">
                {{ transaction().isIncomeTransaction ? "+" : "-" }}
                {{ transaction().amount | currency }}
            </mat-chip>
            <button
                mat-icon-button
                (click)="
                    transaction().deleted
                        ? recoverTransaction(transaction().transactionId)
                        : deleteTransaction(transaction().transactionId)
                "
            >
                <mat-icon
                    [fontIcon]="
                        transaction().deleted ? 'restore_from_trash' : 'delete'
                    "
                    [class]="transaction().deleted ? 'recover' : 'error'"
                />
            </button>
        </div>
    </div>
</mat-card>
