<ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="trigger()"
    [cdkConnectedOverlayOpen]="isFilterPopoverOpen()"
>
    <mat-card class="popover-card">
        <mat-card-title> Filters </mat-card-title>
        <form>
            <mat-form-field>
                <mat-label> Amount </mat-label>
                <input
                    matInput
                    type="text"
                    formControlName="amount"
                    [required]="true"
                    (keydown)="checkIfValidKey($event)"
                    (input)="addValue($event)"
                    [value]="form.value.amount | currency"
                />
            </mat-form-field>
        </form>
    </mat-card>
</ng-template>
