@import "bb-core";

.transactions-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem;
    height: 100%;

    .title-wrapper {
        display: flex;
        gap: 0.5rem;

        .title {
            margin: 0;
        }

        .plus-button {
            margin-top: -0.5rem;
        }

        .icon {
            color: $bb-primary-green-text;
        }
    }

    .header-container {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 0.5rem;
    }

    .transactions-inner-container {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        gap: 1rem;
        flex: 1;
        max-height: 75vh;
        padding-bottom: 1rem;

        &::-webkit-scrollbar {
            display: none;
        }

        @media screen and (min-height: 600px) {
            max-height: 65vh;
        }

        @media screen and (min-height: 800px) {
            max-height: 70vh;
        }

        @media screen and (min-height: 900px) {
            max-height: 75vh;
        }

        @media screen and (min-height: 1000px) {
            max-height: 80vh;
        }

        @media screen and (min-height: 1250px) {
            max-height: 85vh;
        }
    }
}
