<div class="transactions-container">
    <div class="header-container">
        <div class="title-wrapper">
            <h1 class="title">Transactions</h1>
            <button
                mat-icon-button
                matTooltip="Add transaction"
                class="plus-button"
                (click)="openAddTransactionDialog()"
            >
                <mat-icon
                    fontIcon="add"
                    class="icon"
                />
            </button>
        </div>
        <div
            [style]="{
                display: 'flex',
                gap: '1rem'
            }"
        >
            @if (transactions().length) {
                <button
                    mat-icon-button
                    matTooltip="Filter transactions"
                    cdkOverlayOrigin
                    #trigger="cdkOverlayOrigin"
                    (click)="toggleFilter()"
                >
                    <mat-icon
                        fontIcon="filter_list"
                        class="icon"
                    />
                </button>
                <TransactionsFilterPopover
                    [trigger]="trigger"
                    [isFilterPopoverOpen]="isFilterOpen()"
                />
            }
            <TransactionsDatePicker
                [form]="form"
                (submitForm)="submitForm()"
            />
        </div>
    </div>
    <mat-divider />
    <div class="transactions-inner-container">
        @if (transactionService.isLoading()) {
            <mat-spinner
                [diameter]="50"
                [style.align-self]="'center'"
            />
        } @else {
            @for (transaction of transactions(); track transaction.id) {
                <TransactionCard [transaction]="transaction" />
            } @empty {
                No Transactions Found
            }
        }
    </div>
</div>
