@import "bb-core";

.transactions-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem;

    .title-wrapper {
        display: flex;
        gap: 0.5rem;

        .title {
            margin: 0;
        }

        .plus-button {
            margin-top: -0.5rem;
        }

        .icon {
            color: $bb-primary-green-text;
        }
    }

    .header-container {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 0.5rem;
    }

    .transactions-inner-container {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        gap: 1rem;
        height: 600px; /* want to try to figure out how to make this calculated height dynamic to window size */

        &::-webkit-scrollbar {
            display: none;
        }
    }
}
