<div class="transactions-container">
    <div class="header-container">
        <div class="title-wrapper">
            <h1>
                Transactions
            </h1>
            <button 
                mat-icon-button 
                (click)="openAddTransactionDialog()"
            >
                <mat-icon 
                    fontIcon="add" 
                    class="icon" 
                />
            </button>
        </div>
        <TransactionsDatePicker />
    </div>
    <mat-divider></mat-divider>
    <div class="transactions-inner-container">
        @for (transaction of transactions(); track transaction.id;) {
            <TransactionCard [transaction]="transaction" />
        } @empty {
            No Transactions Found
        }
    </div>
</div>
