:host {
    height: 5rem;
}

header {
    height: 100%;
    display: flex;
    padding-left: 3rem;
    padding-right: 1rem;
    justify-content: space-between;
    align-items: center;
    border-bottom: white 3px solid;

    .account {
        display: flex;
        align-items: center;
    }
}
