:host {
    flex: 1;
}

.main-window {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 2rem;
    height: 100%;
    overflow: hidden;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;

        .title-wrapper {
            display: flex;
            flex-direction: column;

            .title {
                font-weight: bold;
                font-size: 1.3rem;
            }

            p {
                font-weight: lighter;
                margin: 0;
            }

            h1 {
                margin: 0;
            }
        }

        .date-selection {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            p {
                font-weight: 200;
                margin: 0;
            }
        }
    }
}

.logo-overlay {
    position: absolute;
    top: 5rem;
    right: 5rem;
    rotate: 23deg;
    font-size: 80rem;
    height: 80rem;
    width: 80rem;
    opacity: 0.13;
    z-index: -1;
}
