<section class="form-wrapper {{ isRegisterForm }}">
    <form
        class="login-form"
        (submit)="loginOrRegister($event)"
        [formGroup]="register ? registerForm : loginForm"
    >
        <BBLogo class="login-logo" />
        <h1 class="title">{{ register ? "Register" : "Login" }}</h1>
        <ng-container *ngIf="register">
            <mat-form-field appearance="outline">
                <mat-label class="login-label">First Name</mat-label>
                <input type="text" matInput formControlName="firstName" />
                <mat-error *ngIf="registerForm.controls.firstName.errors">
                    First Name is required
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label class="login-label">Last Name</mat-label>
                <input type="text" matInput formControlName="lastName" />
                <mat-error *ngIf="registerForm.controls.lastName.errors">
                    Last Name is required
                </mat-error>
            </mat-form-field>
        </ng-container>
        <mat-form-field appearance="outline">
            <mat-label class="login-label">{{
                register ? "Email" : "Username"
            }}</mat-label>
            <input
                type="text"
                matInput
                formControlName="{{ register ? 'email' : 'username' }}"
            />
            <mat-error
                *ngIf="
                    (register
                        ? registerForm.controls.email
                        : loginForm.controls.username
                    ).errors
                "
            >
                {{ register ? "Email" : "Username" }} is required
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label class="login-label">Password</mat-label>
            <input type="password" matInput formControlName="password" />
            <mat-error
                *ngIf="
                    (register ? registerForm : loginForm).controls.password
                        .errors
                "
            >
                Password is required
            </mat-error>
        </mat-form-field>
        <button
            class="submit-{{ register ? 'register' : 'login' }}"
            type="submit"
            [disabled]="isSubmitButtonDisabled"
            mat-flat-button
            color="primary"
        >
            <ng-container *ngIf="!authService.isSubmitting; else spinner">
                {{ register ? "Register" : "Login" }}
            </ng-container>
        </button>
    </form>
    <button
        class="register-button"
        (click)="flipCard()"
        mat-button
        color="primary"
    >
        {{ register ? "Login" : "Register" }}
    </button>
    <mat-icon class="logo-overlay" fontIcon="attach_money" />
</section>

<ng-template #spinner>
    <mat-spinner [diameter]="25" />
</ng-template>
