@import "bb-core";

:host {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
}

:host.back {
    transform: rotateY(180deg);
}

.login-logo {
    margin-bottom: 1rem;
}

.title {
    font-size: 1.8rem;
    font-weight: 300;
}

.form-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: display 0s 0s;
    overflow: hidden;
}

.login-form {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

.login-label {
    cursor: text;
}

.register-button {
    font-size: 0.7rem;
}

.submit-login,
.submit-register {
    color: white !important;
    display: flex;
    align-items: center;
    justify-content: center;

    ::ng-deep {
        .mdc-button__label {
            display: flex;
        }
    }
}

.hide-card {
    visibility: hidden;
    transition: visibility 0s 0.8s;
}

.logo-overlay {
    position: absolute;
    bottom: -6rem;
    left: 10rem;
    rotate: 25deg;
    font-size: 20rem;
    height: 20rem;
    width: 20rem;
    opacity: 0.13;
    z-index: -1;
}

.auth-error-alert {
    height: 3rem;
    display: flex;
    color: rgb(249, 60, 60);
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 0, 0, 0.1);
    border-radius: 1rem;
    opacity: 0.7;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    translate: 0 -0.5rem;
}

.loader {
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid #fff;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    animation: pulse 1s linear infinite;
}

.loader:after {
    content: "";
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid #fff;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: scaleUp 1s linear infinite;
}

@keyframes scaleUp {
    0% {
        transform: translate(-50%, -50%) scale(0);
    }
    60%,
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}
@keyframes pulse {
    0%,
    60%,
    100% {
        transform: scale(1);
    }
    80% {
        transform: scale(1.2);
    }
}
