<section class="form-wrapper {{ isRegisterForm }}">
    <form
        class="login-form"
        (submit)="loginOrRegister($event)"
        [formGroup]="register ? registerForm : loginForm"
    >
        <BBLogo
            class="login-logo"
            translate="-0.35rem .05rem"
        />
        @if (!isRegisterError() && !isLoginError()) {
            <h1 class="title">{{ register ? "Register" : "Login" }}</h1>
        } @else {
            <span class="auth-error-alert">{{ errorMessage }}</span>
        }
        <ng-container *ngIf="register">
            <mat-form-field appearance="outline">
                <mat-label class="login-label">First Name</mat-label>
                <input
                    type="text"
                    matInput
                    formControlName="firstName"
                />
                <mat-error
                    *ngIf="registerForm.controls.firstName.errors as errors"
                >
                    {{
                        errors["pattern"]
                            ? "No spaces please"
                            : "First name is required"
                    }}
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label class="login-label">Last Name</mat-label>
                <input
                    type="text"
                    matInput
                    formControlName="lastName"
                />
                <mat-error
                    *ngIf="registerForm.controls.lastName.errors as errors"
                >
                    {{
                        errors["pattern"]
                            ? "No spaces please"
                            : "Last name is required"
                    }}
                </mat-error>
            </mat-form-field>
        </ng-container>
        <mat-form-field appearance="outline">
            <mat-label class="login-label">{{
                register ? "Email" : "Username"
            }}</mat-label>
            <input
                type="text"
                matInput
                formControlName="{{ register ? 'email' : 'username' }}"
            />
            @if (
                (register
                    ? registerForm.controls.email
                    : loginForm.controls.username
                ).errors
            ) {
                <mat-error>
                    {{ register ? "Email" : "Username" }} is required
                </mat-error>
            }
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label class="login-label">Password</mat-label>
            <input
                type="password"
                matInput
                formControlName="password"
            />
            @let errors =
                (register ? registerForm : loginForm).controls.password.errors;

            @if (errors) {
                <mat-error>
                    {{
                        errors["pattern"]
                            ? "No spaces please"
                            : "Password is required"
                    }}
                </mat-error>
            }
        </mat-form-field>
        <button
            class="submit-{{ register ? 'register' : 'login' }}"
            type="submit"
            [disabled]="isSubmitButtonDisabled"
            mat-flat-button
            color="primary"
        >
            @if (!authService.isSubmitting) {
                {{ register ? "Register" : "Login" }}
            } @else {
                <span class="loader"></span>
            }
        </button>
    </form>
    <button
        class="register-button"
        (click)="flipCard()"
        mat-button
        color="primary"
    >
        {{ register ? "Login" : "Register" }}
    </button>
    <mat-icon
        class="logo-overlay"
        fontIcon="attach_money"
    />
</section>
