:host {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 1.5rem;
    padding: 1rem;
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s, visibility 0s 0s;
    transform-style: preserve-3d;
}

.card-flip {
    height: 25rem;
    width: 25rem;
    perspective: 50rem;
}

.flipped {
    transform: rotateY(-180deg);
}
