@if (authService.isLoading() || !animationEnd) {
    <main
        @loaderOverlayAnimation
        (animationend)="animationEnd = true"
        class="bb-main-overlay"
    >
        <BBLogo
            class="logo"
            fontSize="4rem"
            height="4rem"
            color="white"
        />
        <mat-spinner color="accent" />
    </main>
} @else {
    <router-outlet></router-outlet>
}
@if (authService.isLoggedIn && animationEnd) {
    <app-tabs-bar />
}

<!-- Modals -->
@if (mobileModalService.isAddTransactionModalOpen()) {
    <AddTransactionMobileModal
        appModalDismiss
        (onModalDismiss)="
            this.mobileModalService.isAddTransactionModalOpen.set(false)
        "
        @addTransactionModalAnimation
        [toolbarDismiss]="true"
    />
}
@if (mobileModalService.isBudgetTransactionsModalOpen()) {
    <BudgetTransactionsCard
        @budgetTransactionModalAnimation
        [isMobileComponent]="true"
    />
}
@if (mobileModalService.isMobileBudgetStarterModalOpen()) {
    <BudgetStarter
        appModalDismiss
        (onModalDismiss)="
            this.mobileModalService.isMobileBudgetStarterModalOpen.set(false)
        "
        @addTransactionModalAnimation
    />
}
