@import "bb-core";

@mixin line-item-input() {
    outline: solid 1px rgb(192, 192, 192);
    background-color: white;
    border-radius: 0.5rem;
}

:host {
    display: flex;
    width: 100%;
    position: relative;
    overscroll-behavior: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

.budget-item-wrapper {
    display: flex;
    align-items: center;
    height: 3rem;
    position: relative;

    .title-wrapper {
        display: flex;
        width: 53%;
        align-items: center;

        .fund-logo {
            min-width: 2rem;
            padding-left: 0.5rem;
            color: rgb(81, 189, 81);
            font-size: 1.3rem;
            height: 1.3rem;
        }

        .line-item-title {
            all: unset;
            cursor: text;
            width: calc(100% - 2rem);
            font-family: inherit;
            font-size: 1.1rem;
            font-weight: 500;
            opacity: 0.8;
            border: none;
            background-color: transparent;
            border-radius: 0.5rem;
            padding: 0.2rem;
            padding-left: 0.5rem;
            margin-right: 0.5rem;

            &:hover {
                @include line-item-input();
            }
            &:focus {
                @include line-item-input();
            }
        }
    }

    .planned-amount {
        all: unset;
        cursor: text;
        width: 21%;
        font-size: 1rem;
        font-weight: 400;
        font-family: inherit;
        text-align: center;
        background-color: transparent;
        border: none;
        border-radius: 0.5rem;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;

        &:hover {
            @include line-item-input();
        }
        &:focus {
            @include line-item-input();
        }
    }

    p {
        margin: 0;
        width: 21%;
        font-size: 1rem;
        font-weight: 400;
        text-align: center;
    }
}

.delete-icon {
    position: absolute;
    right: 0.5rem;
    top: 0;
    translate: 0% 47%;
    font-size: 1.5rem;
    height: 1.5rem;
    width: 1.5rem;
    color: $bb-error-main;
}

.edit-menu-container {
    position: absolute;
    height: 2.5rem;
    background-color: white;
    bottom: -2.5rem;
    right: 50%;
    translate: 50%;
    z-index: 1;
    border: 2px solid rgb(109, 206, 109, 0.8);
    border-radius: 0.7rem;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
    border-top: 2px solid rgb(109, 206, 109, 0.8);

    button {
        border-top-left-radius: none;
        border-top-right-radius: none;
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
    }
}

.edit-only {
    border: 1px solid rgb(81, 189, 81);
}

.progress-indicator {
    display: flex;
    height: 1px;
    z-index: 1;

    .progress {
        height: 100%;
        background-color: rgb(81, 189, 81);
    }

    .non-progress {
        height: 100%;
        background-color: rgb(221, 221, 221);
    }

    .negative-progress {
        background-color: $bb-error-main;
    }
}

.line-item-selected {
    outline: 2px solid rgb(109, 206, 109, 0.8);
    background-color: rgb(109, 206, 109, 0.2);
    border-radius: 0.5rem;
}

.unhappy-remaining {
    color: $bb-error-main;
}

.slide-to-delete-content {
    display: flex;
    flex-direction: column;
    min-width: 100%;
}

.slide-to-delete-button {
    background-color: $bb-error-main;
    display: none;
    align-items: center;
    min-width: 200%;

    mat-icon {
        position: sticky;
        left: 85%;
        color: white;
        transition: left 0.3s;
    }

    .move-delete {
        left: 0;
    }

    .animate-delete {
        animation: deleteAni 0.3s forwards;

        @keyframes deleteAni {
            100% {
                scale: 2.5;
                opacity: 0;
            }
        }
    }
}

@media (max-width: 1145px) {
    :host {
        overflow-x: scroll;
        overflow-y: hidden;
    }

    :host(.overflow-visible) {
        overflow-x: visible;
        overflow-y: visible;
    }

    .delete-icon {
        display: none;
    }

    .budget-item-wrapper {
        .title-wrapper {
            width: 63%;

            .line-item-title {
                pointer-events: none;
            }
        }

        .planned-amount {
            display: none;
            padding-bottom: 0.1rem;
        }

        .add-planned-mobile {
            display: flex;
            width: 35%;
        }

        p {
            width: 35%;
            margin-top: 0.1rem;
        }

        .remove-remaining-mobile {
            display: none;
        }
    }

    .slide-to-delete-button {
        display: flex;
    }
}
