<slide-to-delete
    [disabled]="isEditModeEnabled() || !itemId()"
    [closed]="!!transactionService.currentSelectedLineItem()"
    (deleteItem)="deleteLineItem()"
    [deleteButtonPosition]="90"
    [deleteDistance]="70"
>
    <span class="slide-to-delete-content">
        <span
            #lineItemContainer
            class="budget-item-wrapper"
            [class.line-item-selected]="isLineItemSelected()"
            (click)="setSelectedLineItem()"
        >
            <span class="title-wrapper">
                <ng-content></ng-content>
                <mat-icon
                    class="fund-logo"
                    *ngIf="fund"
                    fontIcon="savings"
                />
                <input
                    #lineItemTitleInput
                    class="line-item-title"
                    [class.edit-enabled-title]="editConfig()"
                    [formControl]="lineItemInputValue"
                    (click)="enableEditMode(lineItemTitleInput)"
                    [value]="itemTitle"
                />
            </span>
            <input
                #plannedAmountInput
                type="text"
                pattern="\d*"
                class="planned-amount"
                [class.edit-enabled-planned]="editConfig()"
                [class.add-planned-mobile]="
                    mobileModalService.showPlannedAmounts()
                "
                (keydown)="checkIfValidKey($event)"
                (click)="enableEditMode(plannedAmountInput)"
                (input)="addValue($event)"
                (blur)="createOrUpdateLineItem(false, undefined, $event)"
                [value]="plannedAmount() | currency"
            />
            <p
                [class.remove-remaining-mobile]="
                    mobileModalService.showPlannedAmounts()
                "
                [class.unhappy-remaining]="remainingAmount() < 0"
            >
                {{ remainingAmount() | currency }}
            </p>
            @if (isLineItemSelected() && itemId()) {
                <button
                    class="item-menu"
                    mat-icon-button
                    [matMenuTriggerFor]="itemMenu"
                >
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #itemMenu="matMenu">
                    <button
                        (click)="enableEditMode(lineItemTitleInput, $event)"
                        mat-menu-item
                    >
                        <mat-icon>edit</mat-icon>
                        <span>Edit</span>
                    </button>
                    <button
                        (click)="deleteLineItem()"
                        mat-menu-item
                    >
                        <mat-icon>delete</mat-icon>
                        <span>Delete</span>
                    </button>
                </mat-menu>
            }
            @if (editConfig()) {
                <span
                    (document:keydown.enter)="createOrUpdateLineItem(true)"
                    (document:click)="
                        checkIfOutsideParent($event, lineItemContainer)
                    "
                    class="edit-menu-container"
                    [class.edit-only]="!isLineItemSelected()"
                >
                    <button
                        (click)="createOrUpdateLineItem(false, $event)"
                        color="primary"
                        mat-button
                    >
                        Save
                    </button>
                    <button
                        (click)="cancelEditing($event)"
                        color="warn"
                        mat-button
                    >
                        Cancel
                    </button>
                </span>
            }
        </span>
        <div
            [style.visibility]="isLineItemSelected() ? 'hidden' : 'visible'"
            class="progress-indicator"
        >
            <span
                [style.width]="progressPercentage() + '%'"
                class="progress"
            ></span>
            <span
                [style.width]="100 - progressPercentage() + '%'"
                class="non-progress"
                [class.negative-progress]="remainingAmount() < 0"
            ></span>
        </div>
    </span>
</slide-to-delete>
