@use "bb-core";

@mixin line-item-input() {
    outline: solid 1px rgb(192, 192, 192);
    background-color: white;
    border-radius: 0.5rem;
}

.slide-to-delete-content {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    background-color: white;
}

.budget-item-wrapper {
    display: flex;
    align-items: center;
    height: 3rem;
    position: relative;
    border-top-right-radius: 0.5rem;

    .title-wrapper {
        display: flex;
        width: 53%;
        align-items: center;

        .fund-logo {
            min-width: 2rem;
            padding-left: 0.5rem;
            color: rgb(81, 189, 81);
            font-size: 1.3rem;
            height: 1.3rem;
        }

        .line-item-title {
            all: unset;
            cursor: pointer;
            width: calc(100% - 2rem);
            font-family: inherit;
            font-size: 1rem;
            font-weight: 500;
            opacity: 0.8;
            border: none;
            background-color: transparent;
            border-radius: 0.5rem;
            padding: 0.2rem;
            padding-left: 0.5rem;
            margin-right: 0.5rem;
            pointer-events: none;

            &:hover {
                @include line-item-input();
            }
            &:focus {
                @include line-item-input();
            }
        }

        .edit-enabled-title {
            cursor: text;
            pointer-events: all;
        }
    }

    .planned-amount {
        all: unset;
        cursor: pointer;
        width: 21%;
        font-size: 1rem;
        font-weight: 400;
        font-family: inherit;
        text-align: center;
        background-color: transparent;
        border: none;
        border-radius: 0.5rem;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
        pointer-events: none;

        &:hover {
            @include line-item-input();
        }
        &:focus {
            @include line-item-input();
        }
    }

    .edit-enabled-planned {
        cursor: text;
        pointer-events: all;
    }

    p {
        margin: 0;
        width: 21%;
        font-size: 1rem;
        font-weight: 400;
        text-align: center;
    }
}

.is-reordering {
    opacity: 0.5;
}

.item-menu {
    position: absolute;
    right: 0rem;

    mat-icon {
        color: bb-core.$bb-secondary-title-color;
    }
}

.edit-menu-container {
    position: absolute;
    height: 2.5rem;
    background-color: white;
    bottom: calc(-2.5rem + 2px);
    right: 50%;
    translate: 50%;
    z-index: 1;
    border: 2px solid rgb(109, 206, 109, 0.8);
    border-radius: 0.7rem;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
    border-top: 2px solid rgb(109, 206, 109, 0.8);

    button {
        border-top-left-radius: none;
        border-top-right-radius: none;
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
    }
}

.edit-only {
    bottom: -2.5rem;
    border: 1px solid rgb(81, 189, 81);
}

.progress-indicator {
    display: flex;
    height: 1px;
    z-index: 1;

    .progress {
        height: 100%;
        background-color: rgb(81, 189, 81);
    }

    .non-progress {
        height: 100%;
        background-color: rgb(221, 221, 221);
    }

    .negative-progress {
        background-color: bb-core.$bb-error-main;
    }
}

.line-item-selected {
    outline: 2px solid rgb(109, 206, 109, 0.8);
    background-color: rgb(109, 206, 109, 0.2);
    border-radius: 0.5rem;
    outline-offset: -2px;
}

.unhappy-remaining {
    color: bb-core.$bb-error-main;
}

@media (max-width: 1145px) {
    .item-menu {
        display: none;
    }

    .budget-item-wrapper {
        .title-wrapper {
            width: 80%;
        }

        .planned-amount {
            display: none;
            padding-bottom: 0.1rem;
            pointer-events: all;

            &:hover {
                outline: none;
            }
            &:focus {
                outline: none;
            }
        }

        .add-planned-mobile {
            width: 27%;
            display: flex;
            text-align: right;
            padding-right: 0.3rem;
        }

        p {
            width: 27%;
            margin-top: 0.1rem;
            text-align: right;
            padding-right: 0.3rem;
        }

        .remove-remaining-mobile {
            display: none;
        }
    }
}
