<span
    #lineItemContainer
    class="budget-item-wrapper {{ isLineItemSelected && 'line-item-selected' }}"
    (click)="setTransactionData()"
>
    <ng-content></ng-content>
    <span class="title-wrapper">
        <mat-icon
            class="fund-logo"
            *ngIf="fund"
            fontIcon="savings"
        />
        <input
            #lineItemTitleInput
            class="line-item-title"
            [formControl]="lineItemInputValue"
            (focus)="enableEditMode(lineItemTitleInput)"
            [value]="itemTitle"
        />
    </span>
    <input
        #plannedAmountInput
        type="text"
        class="planned-amount"
        (keydown)="checkIfValidKey($event)"
        (focus)="enableEditMode(plannedAmountInput)"
        (input)="addValue($event)"
        [value]="plannedAmount | currency"
    />
    <p>{{ remainingAmount | currency }}</p>
    @if (isLineItemSelected && itemId) {
        <mat-icon
            class="delete-icon"
            (click)="deleteLineItem()"
            fontIcon="delete"
        ></mat-icon>
    }
    @if (isEditModeEnabled) {
        <span
            (document:keydown.enter)="createOrUpdateLineItem(true)"
            (document:click)="checkIfOutsideParent($event, lineItemContainer)"
            class="edit-menu-container"
        >
            <button
                (click)="createOrUpdateLineItem(false)"
                color="primary"
                mat-button
            >
                Save
            </button>
            <button
                (click)="cancelEditing()"
                color="warn"
                mat-button
            >
                Cancel
            </button>
        </span>
    }
</span>
<div
    [style.visibility]="isLineItemSelected ? 'hidden' : 'visible'"
    class="progress-indicator"
>
    <span
        [style.width]="progressPercentage + '%'"
        class="progress"
    ></span>
    <span
        [style.width]="100 - progressPercentage + '%'"
        class="non-progress"
    ></span>
</div>
