@use "bb-core";

:host {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: center;
    background-color: bb-core.$bb-primary-green-text;
    translate: 0 100vh;
    height: 100vh;
    width: 100vw;
    border-radius: 0.5rem;
    z-index: 999;
    overflow: hidden;
    transition: transform 0.3s;
}

:host(.sheet-modal) {
    animation: loadModal 0.65s cubic-bezier(0.22, 1, 0.22, 1) forwards;
    animation-delay: 0.05s;

    @keyframes loadModal {
        100% {
            translate: 0 calc(4vh + min(3.25vh, env(safe-area-inset-top)));
        }
    }
}

:host(.full-screen-modal) {
    padding-top: min(5.25vh, env(safe-area-inset-top));
    border-radius: 0rem;
    animation: loadFullScreenModal 0.65s cubic-bezier(0.22, 1, 0.22, 1) forwards;

    @keyframes loadFullScreenModal {
        100% {
            translate: 0 0;
        }
    }
}

@media (max-width: 1145px) {
    :host {
        display: flex;
    }
}
