@import "bb-core";

:host {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    translate: 0 100vh;
    height: 100vh;
    width: 100vw;
    border-radius: 0.5rem;
    z-index: 999;
    overflow: hidden;
}

:host(.sheet-modal) {
    animation: loadModal 0.6s cubic-bezier(0.22, 1, 0.22, 1) forwards;

    @keyframes loadModal {
        100% {
            translate: 0 3.5vh;
        }
    }
}

:host(.full-screen-modal) {
    animation: loadFullScreenModal 0.6s cubic-bezier(0.22, 1, 0.22, 1) forwards;

    @keyframes loadFullScreenModal {
        100% {
            translate: 0 0;
        }
    }
}
