<span
    class="inline-transaction-wrapper {{
        !transactionId ? 'delete-hidden' : ''
    }}"
    matTooltip="Notes: {{ notes }}"
    [matTooltipPosition]="mobileService.isMobileDevice() ? 'below' : 'left'"
>
    <div class="date">
        <h3>{{ getMonth() }}</h3>
        <h3>{{ date.getDate() }}</h3>
    </div>
    <span class="transaction-title-container">
        <h1 class="transaction-title">{{ title }}</h1>
        <p class="transaction-merchant">{{ merchant }}</p>
    </span>
    <p class="transaction-amount">-${{ amount | number: "1.2-2" }}</p>
    <mat-icon
        class="delete-icon"
        fontIcon="delete"
        (click)="deleteTransaction()"
    />
</span>
