@import "bb-core";

.inline-transaction-wrapper {
    display: flex;
    min-width: calc(100% - 1rem);
    align-items: center;
    margin-left: 1rem;
    border-bottom: 1px solid rgb(229, 229, 229);
    height: 4rem;
    position: relative;
    cursor: pointer;

    &:hover {
        .transaction-amount {
            transition: translate 0.2s;
            translate: -1.5rem;
        }

        .delete-icon {
            transition: opacity 0.2s 0.1s;
            opacity: 1;
        }
    }

    .date {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 2.7rem;
        min-width: 2.7rem;
        border: 2px solid rgb(207, 207, 207);
        border-radius: 100%;
        margin-right: 1rem;

        h3 {
            font-size: 0.8rem;
            line-height: 1rem;
            color: rgb(185, 185, 185);
            margin: 0;
        }
    }

    .transaction-title-container {
        display: flex;
        align-items: baseline;
        gap: 0.8rem;
        width: 25rem;

        .transaction-title {
            margin: 0;
            font-size: 1.2rem;
            font-weight: 500;
            color: $bb-primary-title-color;
            opacity: 0.9;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            max-width: 12rem;
        }

        .transaction-merchant {
            margin: 0;
            font-size: 1rem;
            font-weight: 400;
            opacity: 0.7;
            color: $bb-secondary-title-color;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            max-width: 10rem;
        }
    }

    .transaction-amount {
        font-size: 1.1rem;
        font-weight: 500;
        padding-right: 1.5rem;
        min-width: max-content;
        color: $bb-primary-title-color;
        margin: 0;
        transition: translate 0.2s 0.05s;
    }

    .is-income-transaction {
        color: $bb-primary-green-text;
    }

    .delete-icon {
        cursor: pointer;
        position: absolute;
        right: 1rem;
        opacity: 0;
        font-size: 1.5rem;
        height: 1.5rem;
        width: 1.5rem;
        color: $bb-error-main;
        transition: opacity 0.2s;
    }
}

.delete-hidden {
    &:hover {
        .transaction-amount {
            translate: 0;
        }

        .delete-icon {
            display: none;
        }
    }
}

@media (max-width: 1650px) {
    .inline-transaction-wrapper {
        .transaction-title-container {
            .transaction-title {
                max-width: 10rem;
            }

            .transaction-merchant {
                max-width: 5rem;
            }
        }
    }
}

@media (max-width: 1415px) {
    .inline-transaction-wrapper {
        .transaction-title-container {
            flex-direction: column;
            gap: 0;

            .transaction-title {
                max-width: none;
                line-height: 1.6rem;
            }

            .transaction-merchant {
                max-width: none;
                font-size: 0.75rem;
            }
        }
    }
}

@media (max-width: 1275px) {
    .inline-transaction-wrapper {
        .transaction-title-container {
            .transaction-title {
                max-width: 10rem;
            }
        }
    }
}
