<a
    mat-button
    (click)="handleClick.emit(description)"
    [routerLink]="description.toLowerCase()"
    class="link-button"
    *ngIf="!isActive; else selectedButton"
>
    <mat-icon [fontIcon]="iconName"></mat-icon>
    {{ description }}
</a>

<ng-template #selectedButton>
    <a
        mat-raised-button
        (click)="handleClick.emit(description)"
        [color]="variant"
        class="link-button raised"
    >
        <mat-icon [fontIcon]="iconName"></mat-icon>
        {{ description }}
    </a>
</ng-template>
