:host {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: min(3.35rem, env(safe-area-inset-top));
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 0rem;
    background-color: #fafafa;
    transition:
        transform 0.35s,
        border-radius 0.45s cubic-bezier(0.25, 1, 0.25, 1),
        translate 0.35s;
    overflow: hidden;
    will-change: translate, transform, border-radius;
}

:host(.modal-present) {
    transform: scale(0.9)
        translateY(calc(-1.25rem + min(3.5vh, env(safe-area-inset-top))));
    border-radius: 0.5rem;
}

:host(.slide-body) {
    translate: -6rem;
}

.home {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    animation: onLoad 1s forwards;
}

.sidebar-budget-wrapper {
    display: flex;
    height: calc(100% - 4rem);
    width: 100%;
}

.main-window {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: calc(100% - 15rem);
    overflow: hidden;
}

.dimmer {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.15;
    transition: opacity 0.3s;
}

@keyframes onLoad {
    0% {
        opacity: 0;
        translate: 0 10rem;
    }

    100% {
        translate: 0 0;
        opacity: 1;
    }
}

@media (max-width: 500px) {
    .dimmer {
        display: initial;
    }
}

@media (max-width: 1145px) {
    :host {
        padding-top: env(safe-area-inset-top);
    }

    .sidebar-budget-wrapper {
        height: 100%;
    }

    .main-window {
        width: 100vw;
    }
}
