:host {
    display: flex;
    height: 100%;
}

.home {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    animation: onLoad 1s forwards;
}

.sidebar-budget-wrapper {
    display: flex;
    flex: 1;
    min-height: 0rem;
    width: 100%;
}

.main-window {
    display: flex;
    flex: 1;
    flex-direction: column;
    position: relative;
    height: 100%;
    overflow: hidden;
}

.logo-overlay {
    position: absolute;
    top: 2rem;
    right: 1rem;
    rotate: 23deg;
    font-size: 80rem;
    height: 80rem;
    width: 80rem;
    opacity: 0.13;
    z-index: -1;
}

@keyframes onLoad {
    0% {
        opacity: 0;
        translate: 0 10rem;
    }

    100% {
        translate: 0 0;
        opacity: 1;
    }
}
