<main class="home">
    <HomeHeader />
    <section class="sidebar-budget-wrapper">
        <Sidebar />
        <main
            [@routerAnimations]="routeData"
            class="main-window"
        >
            <router-outlet></router-outlet>
        </main>
    </section>
</main>
@if (
    mobileModalService.isBudgetTransactionsModalOpen() ||
    mobileModalService.isAddTransactionModalOpen() ||
    mobileModalService.isMobileBudgetStarterModalOpen()
) {
    <div
        [@dimmerAnimation]="
            mobileModalService.isAddTransactionModalOpen() ||
            mobileModalService.isMobileBudgetStarterModalOpen()
                ? 'lightDim'
                : mobileModalService.isBudgetTransactionsModalOpen()
                  ? 'darkDim'
                  : 'noDim'
        "
        class="dimmer"
        [style.opacity]="opacityCalc()"
        [style.transition]="
            this.mobileModalService.modalDismissalProgress() ? '0s' : undefined
        "
    ></div>
}
