<header>
    <BBLogo translate="-0.35rem .05rem" />
    <button
        mat-button
        color="primary"
        class="account"
        [matMenuTriggerFor]="accountMenu"
    >
        <mat-icon fontIcon="account_circle" />
        {{ authService.loggedInUserName }}
    </button>
    <mat-menu
        #accountMenu="matMenu"
        xPosition="before"
    >
        <button mat-menu-item>
            <mat-icon>person</mat-icon>
            Account
        </button>
        <button
            mat-menu-item
            (click)="logout()"
        >
            <mat-icon>logout</mat-icon>
            Logout
        </button>
    </mat-menu>
</header>
