@use "bb-core";

:host {
    height: bb-core.$bb-header-height;
}

header {
    position: relative;
    height: 100%;
    display: flex;
    padding-left: 3rem;
    padding-right: 1rem;
    justify-content: space-between;
    align-items: center;
    border-bottom: white 3px solid;
    overflow: hidden;

    .account {
        display: flex;
        align-items: center;
    }
}

@media (max-width: 1145px) {
    .account {
        mat-icon {
            display: none;
        }
    }

    header {
        padding-left: 1.5rem;
    }
}
