<Card
    width="100%"
    height="100%"
    padding="0rem"
    [isBudgetTransactionsModal]="isMobileComponent"
>
    @if (transactionService.currentSelectedLineItem()) {
        <section class="banner">
            <span
                (click)="closeBudgetTransactionsModal()"
                class="back-button"
            >
                <mat-icon fontIcon="arrow_back_ios" />
                Back
            </span>
            <div class="icon-wrapper">
                <div
                    class="progress-circle"
                    [style]="{ background: getProgressStyle() }"
                >
                    <mat-icon
                        class="icon"
                        [class.negative]="progress() < 0"
                        fontIcon="savings"
                    />
                </div>
            </div>
        </section>
        <main class="main-content-container">
            <section class="title-section">
                <span class="available">Available</span>
                <span class="top">
                    <h1>
                        {{ transactionService.currentSelectedLineItem()?.name }}
                    </h1>
                    <h2
                        [class.unhappy-remaining]="
                            transactionService.currentSelectedLineItem()!
                                .remainingAmount < 0
                        "
                    >
                        <h3 class="dollar-sign">$</h3>
                        {{
                            transactionService.currentSelectedLineItem()
                                ?.remainingAmount | number: "1.2-2"
                        }}
                    </h2>
                </span>
            </section>
            <mat-form-field
                class="note-field"
                appearance="outline"
            >
                <input
                    matInput
                    placeholder="Add a Note"
                />
            </mat-form-field>
            <span class="transactions-banner">
                <h1>Transactions</h1>
                <div>
                    <span>
                        <button
                            (click)="openAddTransactionModal()"
                            class="add-transaction-button"
                        >
                            <mat-icon fontIcon="add" />
                        </button>
                    </span>
                    <p class="add-transaction-label">Add Transaction</p>
                </div>
            </span>
        </main>
        <section class="transactions-container">
            @for (
                transaction of transactionService.currentSelectedLineItem()
                    ?.transactions || [] | sortByDate;
                track transaction.transactionId
            ) {
                <InlineTransaction
                    @deleteItemAnimation
                    [@.disabled]="!isMobileComponent"
                    [transactionId]="transaction.transactionId"
                    [title]="transaction.title!"
                    [amount]="transaction.amount"
                    [merchant]="transaction.merchant"
                    [date]="transaction.date"
                    [notes]="transaction.notes"
                />
            }
        </section>
    } @else {
        <div class="show-logo">
            <BBLogo
                [style.translate.rem]="1"
                fontSize="4rem"
                height="4rem"
            />
        </div>
    }
</Card>
