<Card width="100%" height="100%" padding="0rem">
    <section class="banner">
        <div class="icon-wrapper">
            <mat-icon class="icon" fontIcon="savings" />
        </div>
    </section>
    <section class="title-section">
        <span class="available">Available</span>
        <span class="top">
            <h1>Budget Name</h1>
            <h2>
                <h3 class="dollar-sign">$</h3>
                100.45
            </h2>
        </span>
    </section>
    <mat-form-field appearance="outline">
        <input class="note-field" matInput placeholder="Add Note" />
    </mat-form-field>
</Card>
