::ng-deep {
    &.mat-mdc-dialog-container {
        min-width: 600px;
    }

    &.mat-mdc-dialog-surface {
        border-radius: 1rem;
        padding: 1rem 0.5rem;
    }
}

.mat-mdc-dialog-title {
    font-size: 2rem;
}

.fullwidth {
    width: 100%;
}

.inner-fields-wrapper {
    display: flex;
    gap: 1rem;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 0;
}
