@use "bb-core";

::ng-deep {
    &.mat-mdc-dialog-container {
        min-width: 600px;
    }

    &.mat-mdc-dialog-surface {
        border-radius: 1rem;
        padding: 1rem 0.5rem;
    }
}

mat-label {
    cursor: text;
}

.mat-mdc-dialog-title {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.fullwidth {
    width: 100%;
}

.top-margin {
    margin-top: 0.5rem;
}

.inner-fields-wrapper {
    display: flex;
    gap: 1rem;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 0;
}

.income-radios {
    position: absolute;
    top: 1.5rem;
    right: 3rem;
}

@media (max-width: 1145px) {
    ::ng-deep {
        .modal-buttons {
            .mat-mdc-unelevated-button {
                .mat-mdc-button-persistent-ripple::before {
                    background-color: transparent;
                }
            }
        }

        .content {
            .mat-mdc-text-field-wrapper {
                height: 3.5rem;
            }
        }
    }

    :host {
        background-color: white;
        position: relative;
        width: 100vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    form {
        width: 95vw;
    }

    .title-input {
        transition: opacity 0.5s !important;
    }

    .ios-focus {
        opacity: 0;
    }

    .mat-mdc-dialog-title {
        width: 100%;
        height: 3.25rem;
        background-color: bb-core.$bb-primary-green-text;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 1.1rem;
        margin-bottom: 1rem;
        font-weight: 500;
    }

    .cancel-button {
        background-color: transparent;
        color: white;
        position: absolute;
        top: 0.6rem;
        left: 0.7rem;
        font-weight: 500;
        font-size: 0.9rem;
    }

    .submit-button {
        background-color: transparent;
        color: white;
        position: absolute;
        top: 0.6rem;
        right: 1rem;
        font-weight: 600;
        font-size: 1rem;

        &:disabled {
            opacity: 0.6;
        }
    }

    .income-radios {
        display: none;
    }
}
