<h2 mat-dialog-title>
    {{ modalData.mode === 'add' ? 'Add ' : 'Edit '}}
    Transaction
</h2>
<form [formGroup]="form">
    <mat-dialog-content style="display: flex; flex-direction: column; gap: 1rem;">
        <mat-form-field>
            <mat-label>
                Amount
            </mat-label>
            <input 
                matInput
                type="number"
                formControlName="amount"
            >
            <mat-error>
                error
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>
                Choose a date
            </mat-label>
            <input 
                matInput 
                [matDatepicker]="picker"
                formControlName="date"
                (dateChange)="getCategories($event)"
            >
            <mat-hint>
                MM/DD/YYYY
            </mat-hint>
            <mat-datepicker-toggle 
                matIconSuffix 
                [for]="picker"
            />
            <mat-datepicker #picker />
        </mat-form-field>
        <mat-form-field>
            <mat-label>
                Select Budget Item
            </mat-label>
            <mat-select [disabled]="!dropdownCategories().length">
                @if (dropdownCategories().length) {
                    @for (category of dropdownCategories(); track category.budgetCategoryId) {
                        <mat-optgroup [label]="category.budgetCategoryName">
                            @for( lineItem of category.lineItems; track lineItem.lineItemId){
                                <mat-option [value]="lineItem.lineItemId">
                                    {{ lineItem.lineItemName }}
                                </mat-option>
                            }
                        </mat-optgroup>
                    }
                }
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>
                Merchant
            </mat-label>
            <input 
                matInput
                formControlName="merchant"
            >
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button 
            mat-button 
            (click)="closeModal()"
        >
            cancel
        </button>
        <button 
            mat-flat-button 
            cdkFocusInitial
            color="primary"
            style="color: white;"
        >
            Add
        </button>
    </mat-dialog-actions>
</form>
