<Card
    style="position: relative"
    paddingBottom="0.5rem"
    paddingLeft="2rem"
>
    <ng-content></ng-content>
    <span class="header">
        <h1
            *ngIf="!isEditingName"
            (click)="enableEditMode()"
        >
            {{ name }}
        </h1>
        <form
            class="title-form"
            (submit)="changeTitle($event)"
            *ngIf="isEditingName"
        >
            <input
                type="text"
                [defaultValue]="name"
                (blur)="changeTitle()"
                #titleInput
            />
            @if (budgetCategoryId) {
                <mat-icon
                    class="delete-icon"
                    (mousedown)="deleteBudgetCategory()"
                    fontIcon="delete"
                ></mat-icon>
            }
        </form>
        <p>Planned</p>
        <p>Remaining</p>
    </span>
    <section
        class="budget-items-wrapper"
        cdkDropList
        (cdkDropListDropped)="handleDrop($event)"
    >
        <BudgetCategoryItem
            class="budget-item"
            *ngFor="let item of lineItems"
            [itemId]="item.lineItemId"
            [itemTitle]="item.name"
            [startingBalance]="item.startingBalance"
            [plannedAmount]="item.plannedAmount"
            [fund]="item.isFund"
            [transactions]="item.transactions"
            (undoCreateNewLineItem)="removeNewLineItem()"
            (saveNewLineItem)="saveNewLineItem($event)"
            (updateNewLineItemId)="updateNewLineItemId($event)"
            (deleteSavedLineItem)="deleteSavedLineItem($event)"
            cdkDropListLockAxis="y"
            cdkDragBoundary=".budget-items-wrapper"
            cdkDrag
        >
            <mat-icon
                class="drag-handle"
                fontIcon="drag_indicator"
                cdkDragHandle
            />
        </BudgetCategoryItem>
        <span class="add-item-button">
            <button
                (click)="addNewLineItemPlaceholder($event)"
                mat-button
                color="primary"
            >
                Add Item
            </button>
        </span>
    </section>
</Card>
