@import "bb-core";

:host {
    z-index: 0;
    margin-bottom: 1rem;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    position: relative;

    p {
        width: 21%;
        margin: 0;
        opacity: 0.4;
        text-align: center;
    }

    .title-form {
        display: flex;
        align-items: center;
        height: 2rem;
        width: 53%;

        span {
            display: flex;
            align-items: center;
            width: max-content;
            position: relative;

            .category-name-input {
                outline: none;
                height: 2rem;
                font-family: inherit;
                font-size: 1.2rem;
                font-weight: 600;
                color: $bb-secondary-title-color;
                padding: 0.3rem;
                border: none;
                border-radius: 0.4rem;
                width: 98%;

                &:focus {
                    color: $bb-primary-title-color;
                    outline: 1px solid rgb(206, 206, 206);
                }

                &-hover {
                    outline: 1px solid rgb(206, 206, 206);
                }
            }
        }
    }
}

.budget-items-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.add-item-button {
    display: flex;
    align-items: center;
    height: 3rem;
}

.budget-item {
    cursor: pointer;
}

.drag-handle {
    color: rgb(159, 159, 159);
    cursor: grab;
    position: absolute;
    top: 0.75rem;
    left: -1.65rem;
    z-index: 1;
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-preview {
    background-color: white;
    overflow: visible;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.budget-items-wrapper.cdk-drop-list-dragging
    .budget-item:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.delete-icon {
    position: absolute;
    right: -1.5rem;
    font-size: 1.5rem;
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
    color: $bb-error-main;
    z-index: 1;
}

:host(.deleting-category) {
    overflow-y: hidden;
    animation: deleteAnimation 0.4s forwards;
}

:host(.add-animation) {
    opacity: 0;
    animation: slideIn 0.4s 0.01s forwards;
}

@keyframes slideIn {
    0% {
        opacity: 1;
        translate: 50rem;
    }

    100% {
        opacity: 1;
        translate: 0rem;
    }
}

@keyframes deleteAnimation {
    100% {
        opacity: 0;
        height: 0px;
        min-height: 0px;
        margin-bottom: 0rem;
    }
}

@media (max-width: 1145px) {
    .header {
        h1 {
            width: 70%;
        }

        .title-form {
            width: 70%;

            span {
                .category-name-input {
                    max-width: 35vw;
                    width: 100%;
                }
            }
        }
    }

    :host(.add-animation) {
        opacity: 1;
        animation: none;
    }

    .delete-icon {
        right: -1.8rem;
    }
}
